

.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  
}
/* header */
header{ 
    background-image: url(assets/Hero-bg.png);
    height:1440px,652px;
    
    
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/* ul */
nav ul{
    display: flex;
}
    


 nav ul li{
    list-style: none;
    justify-content: center;

 }



 .header_btn{
  background-color: black;
    border-radius: 7px;
    font-size: 15px;
    color: antiquewhite;
    padding: 10px 25px;

   
    
}
.banner-contains{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-description{
text-align: center;
 
    
}

main{
    justify-items: center;
}

.backgroundsecondary {
    background-color:floralwhite ;


}
.section{
    background-color: antiquewhite;
   border: antiquewhite;
   margin: 50px;
   padding:  50px;
   border-radius: 20px
   ;
}
.layer_1{
    display:flex;
    align-items: center;
    

}
.layer_2{
    display:flex;
    align-items: center;
    flex-direction:row-reverse;
}
.second{
    text-align: center;
   
}
.color{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    
}
.vedio{
    text-align: center;
    
}

.skills-container{
    display: flex;
    border-radius: 7px;
    justify-content: space-around;


    
}
.skill{
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10px;
    padding: 10px;
    width: full;
}
.skillss{
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    
}
.skills{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border-radius: 10px
    ;
    width: 300px;
    
    


}
.m{
    text-align: center;
}
.skil{
    background-color: antiquewhite;
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.skill-title{
    margin-left: 15px;
    padding-left: 15px;
    
}
.skill-description{
    padding-left: 15px;
    margin: 15px;
}
.learn{

    color: black;
   margin-left: 20px;
}
footer{
    background-image:url(
        assets/handshake.jpg );
      height: 140px;
        border-radius: 20px;
        padding: 50px;
        margin: 50px;
}
.colo{ 
    display: flex;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}
    
section div{
    margin: 20px;
}
.d{
    display: flex;
    position: top right;
}
.footer-input{

    text-align: center;
}
.input{
    width:300px;
    padding: 7px;

}
.footerh{
    text-align: center;
    color: aliceblue;
}
.footerb{
    padding: 7px;
}
.fconteiner{
    display: flex;
    justify-content: space-between;
}

